#grid-container{
    width: 80%;
    height: 580px;
    margin: auto;
    background-color: brown;
    display: grid;
    /* grid-template-columns: 20% repeat(6,1fr); */
    grid-template-columns: repeat(15, 1fr);
    /* grid-template-rows: repeat(15, 1fr); */
}
.grid-items{
    background-color: green;
}
.grid-items:nth-of-type(1){
    background-color: red;
    grid-row: 1/7;
    grid-column: 1/7;
}
.grid-items:nth-of-type(2){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
    /* grid-column: 1/7; */
}
.grid-items:nth-of-type(3){
    background-color: white;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(4){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(5){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(6){
    background-color: green;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(7){
    background-color: green;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(8){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(9){
    background-color: green;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(10){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(11){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(12){
    background-color: green;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(13){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(14){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(15){
    background-color: green;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(16){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(17){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(18){
    background-color: green;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(19){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(20){
    background-color: green;
    grid-row: 1/7;
    grid-column: 10/16;
}
.grid-items:nth-of-type(21){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(22){
    background-color: white;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(23){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(24){
    background-color: red;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(25){
    background-color: red;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(26){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(27){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(28){
    background-color: red;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(29){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(30){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(31){
    background-color: red;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(32){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(33){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(34){
    background-color: red;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(35){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(36){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(37){
    background-color: red;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(38){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(39){
    background-color: white;
    grid-row: 7/10;
    grid-column: 7/10;
    border: thin solid;
}
.grid-items:nth-of-type(40){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(41){
    background-color: yellow;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(42){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(43){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(44){
    background-color: yellow;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(45){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(46){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(47){
    background-color: yellow;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(48){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(49){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(50){
    background-color: yellow;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(51){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(52){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(53){
    background-color: yellow;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(54){
    background-color: yellow;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(55){
    background-color: white;
    grid-row: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(56){
    background-color: white;
    grid-row: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(57){
    background-color: white;
    grid-row: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(58){
    background-color: yellow;
    grid-row: 10/16;
    grid-column: 10/16;
}
.grid-items:nth-of-type(59){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(60){
    background-color: blue;
    grid-column: 8/9; 
    border: thin solid;
}
.grid-items:nth-of-type(61){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(62){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(63){
    background-color: blue;.,mn
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(64){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(65){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(66){
    background-color: blue;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(67){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(68){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(69){
    background-color: blue;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(70){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(71){
    background-color: blue;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(72){
    background-color: blue;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(73){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(74){
    background-color: white;
    grid-column: 7/8;
    border: thin solid;
}
.grid-items:nth-of-type(75){
    background-color: white;
    grid-column: 8/9;
    border: thin solid;
}
.grid-items:nth-of-type(76){
    background-color: white;
    grid-column: 9/10;
    border: thin solid;
}
.grid-items:nth-of-type(77){
    background-color: blue;
    grid-column: 1/7;
    grid-row: 10/16;
    border: thin solid;
}


